# Phpstorm
.idea/

# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Development config
config/development.config.php

# Data
data/cache/*
!data/cache/.gitkeep
data/logs/*
!data/logs/.gitkeep
data/persistent/*
!data/persistent/.gitkeep
data/sessions/*
!data/sessions/.gitkeep
data/tmp/*
!data/tmp/.gitkeep

module/

# Unit testing
phpunit.xml
